---
title: homepage
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Lollypop</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/images/favicon.png" />
		<link rel="stylesheet" href="{{site.baseurl}}/style.css">
	</head>
	<body>
		<header>
			<div class="choose-lan">
				<label for="multi-lan">
					<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 8 8">
				  		<path d="M0 0v1h8v-1h-8zm0 2.97v1h8v-1h-8zm0 3v1h8v-1h-8z" transform="translate(0,1)" />
					</svg>
					<span>Swich Language</span>
				</label>
				<input type="checkbox" id="multi-lan">
				<ul>
					<li><a href="{{site.baseurl}}/">English</a></li>
					<li><a href="{{site.baseurl}}/tw/">Taiwan</a></li>
				</ul>
			</div>
			<a href="https://github.com/gnumdk/lollypop">
				<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 8">
				  <path d="M2 0c-.55 0-1.04.23-1.41.59-.36.36-.59.85-.59 1.41 0 .55.23 1.04.59 1.41l3.41 3.41 3.41-3.41c.36-.36.59-.85.59-1.41 0-.55-.23-1.04-.59-1.41-.36-.36-.85-.59-1.41-.59-.55 0-1.04.23-1.41.59-.36.36-.59.85-.59 1.41 0-.55-.23-1.04-.59-1.41-.36-.36-.85-.59-1.41-.59z"
				  transform="translate(0 1)"/>
				</svg>View on GitHub
			</a>
			<h1>Lollypop</h1>
			<p>
				A GNOME music player.
			</p>
			<img class="screenshot" src="{{site.baseurl}}/images/screenshot.jpg" alt="screenshot" height="548" width="1000" />
			<img class="candy" src="{{site.baseurl}}/images/icon.png" alt="icon" />
		</header>
		<main>
			<div class="downloadBar">
				<div class="box">
					<a class="botton green" href="https://github.com/gnumdk/lollypop/releases">Download</a>
				</div>
				<div class="box">
					<label for="toggle-package" class="botton">Packages</label>
				</div>
			</div>

			<input type="checkbox" id="toggle-package" name="toggle-package">
			{% if site.packages != empty %}
			<ul id="package">
				{% for package in site.data.packages %}
					<li>
						<a href="{{ package.url }}" style="background:{{ package.bg-color }};">
							<div class="title">
								{{ package.name }}
							</div>
						</a>
					</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if site.features != empty %}
			<ul class="feature">
				{% for feature in site.features %}
					<li>
						<a href="#"><!--"{{site.baseurl}}{{ feature.url }}"-->
							<img class="icon" src="{{ site.baseurl }}/{{ feature.icon }}" alt="icon of {{ feature.title }}" height="15" weight="15" />
							<div class="title">
								{{ feature.title }}
							</div>
							<div class="description">
								{{ feature.content }}
							</div>
						</a>
					</li>
				{% endfor %}
				<li><!-- Here is nothing, this make display better... --></li>
				<li><!-- Here is nothing, this make display better... --></li>
			</ul>
			{% endif %}
		</main>
		<footer>
			<div class="maintainer">
				Lollypop maintained by <a href="mailto:cedric.bellegarde@adishatz.org">gnumdk</a>. Make a donation to support Lollypop: <a href="https://www.paypal.me/lollypopgnome">Paypal</a> or <a href="https://flattr.com/profile/lollypop">Flattr</a>
</div>
			<div class="publish">
				Published by <a href="https://pages.github.com/">GitHub Pages</a>
			</div>
		</footer>
	</body>
</html>
