---
title: homepage
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Lollypop</title>
		<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/gnumdk/lollypop/master/data/icons/hicolor/16x16/apps/lollypop.png" />
		<link rel="stylesheet" href="{{site.baseurl}}/style.css">
	</head>
	<body>
		<header>
			<a href="https://github.com/gnumdk/lollypop">
				<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 8">
				  <path d="M2 0c-.55 0-1.04.23-1.41.59-.36.36-.59.85-.59 1.41 0 .55.23 1.04.59 1.41l3.41 3.41 3.41-3.41c.36-.36.59-.85.59-1.41 0-.55-.23-1.04-.59-1.41-.36-.36-.85-.59-1.41-.59-.55 0-1.04.23-1.41.59-.36.36-.59.85-.59 1.41 0-.55-.23-1.04-.59-1.41-.36-.36-.85-.59-1.41-.59z"
				  transform="translate(0 1)"/>
				</svg>View on GitHub
			</a>
			<h1>Lollypop</h1>
			<p>
				A GNOME music player.
			</p>
			<img class="screenshot" src="{{site.baseurl}}/images/screenshot.jpg" alt="screenshot" height="548" width="1000" />
			<img class="candy" src="{{site.baseurl}}/images/icon.png" alt="icon" />
		</header>
		<main>
			<div class="downloadBar">
				<div class="box">
					<a class="botton green" href="https://github.com/gnumdk/lollypop/releases">Download</a>
				</div>
				<div class="box">
					<a class="botton" href="/lollypop-web/packages.html"> Packages</a>
				</div>
			</div>
			{% if site.features != empty %}
			<ul class="feature">
				{% for feature in site.features %}
					<li>
						<a href="#"><!--"{{site.baseurl}}{{ feature.url }}"-->
							<img class="icon" src="{{ site.baseurl }}/{{ feature.icon }}" alt="icon of {{ feature.title }}" height="15" weight="15" />
							<div class="title">
								{{ feature.title }}
							</div>
							<div class="description">
								{{ feature.content }}
							</div>
						</a>
					</li>
				{% endfor %}
				<li><!-- Here is nothing, this make display better... --></li>
				<li><!-- Here is nothing, this make display better... --></li>
			</ul>
			{% endif %}
		</main>
		<footer>
			<div class="maintainer">
				Lollypop maintained by <a href="mailto:cedric.bellegarde@adishatz.org">gnumdk</a>
			</div>
			<div class="publish">
				Published by <a href="https://pages.github.com/">GitHub Pages</a>
			</div>
		</footer>
	</body>
</html>
