---
# Don't remove the "---", this is for compiling.
---
@import url(http://fonts.googleapis.com/css?family=Yantramanav:100);
@import url(http://fonts.googleapis.com/css?family=Roboto:500);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import "variable";

html, body {
	margin: 0;
	padding: 0;
	background: url('./images/mtp.png') fixed;
	background-size: cover;
	font-size: 14px;
}

header {
	background: radial-gradient(rgba(255, 225, 232, .8), rgba(252,57,114, 1));
	text-align: center;
	padding: 1.5rem;

	a {
		position: absolute;
		top: 10px;
		right: 20px;
		padding: 1rem 2rem;
		display: inline-block;
		background-color: #fff;
		color: $main-color;
		text-decoration: none;
		border: 2px solid #fff;
		border-radius: 20px;
		z-index: 2;
		transition-duration: .25s;
		font-weight: bold;

		svg {
			display: inline-block;
			margin-right: .5rem;
			vertical-align: top;
			fill: #FD3E75;
			transition-duration: .25s;
		}

		&:hover {
			background-color: rgba(0,0,0,0);
			color: #fff;
			border: 2px solid #fff;

			svg {
				fill: #fff;
			}
		}
	}

	h1 {
		position: relative;
		top: -2rem;
		color: #fff;
		font-weight: 100;
		font-family: 'Yantramanav', sans-serif;
		font-size: 4.5rem;
		z-index: 1;
	}
	p {
		position: relative;
		top: -5rem;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 2rem;
		font-weight: bold;
		z-index: 1;
	}

	img {
		display: block;
		margin: 0 auto;

		&.screenshot {
			margin-top: -50px;
			z-index: 1;
			box-shadow: 0px 0px 20px #343434;
		}
		&.candy {
			position: relative;
			top: -400px;
			z-index: 3;
		}
	}
}

main {
	position: relative;
	top: -500px;
	padding: 6rem 5% 4rem;
	width: 90%;
	background-color: #fff;
	text-align: center;
	z-index: 2;

	> .downloadBar {
		display: block;
		padding: 3rem 0 5rem;
		margin: 0 auto;

		.box {
			display: inline-block;
			margin: 0 2rem;
			width: 20%;
			vertical-align: top;

			a {
				display: block;
				color: #787878;
				font-size: 1rem;

				&.botton {
					width: 10rem;
					margin-bottom: 1rem;
					padding: .5rem 2rem;
					display: inline-block;
					font-size: 2rem;
					color: #787878;
					border: 2px solid #787878;
					border-radius: 1.5rem;
					text-decoration: none;
					transition-duration: .25s;

					&:hover {
						background-color: #787878;
						color: #fff;
					}
				}

				&.green {
					background-color: $green;
					border: 2px solid $green;
					color: #fff;

					&:hover {
						background-color: #fff;
						color: $green;
					}
				}
			}
		}
	}

	ul {
		padding: 0 5%;
		margin: 0 auto;
		list-style-type: none;

		li {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 30%;
			min-height: 150px;

			> a {
				display: inline-block;
				padding: 2rem;
				color: #787878;
				text-decoration: none;

				.icon {
					margin-right: .25rem;
				}
				.title {
					display: inline-block;
					color: $footer-bgcolor;
					vertical-align: top;
					font-weight: 500;
					font-family: 'Roboto', sans-serif;
				}
				.description {
					font-family: 'Source Sans Pro', sans-serif;
				}
			}
		}
	}
}

footer {
	margin-top: -500px;
	padding: 1rem 5rem;
	height: 1rem;
	background-color: $footer-bgcolor;
	color: #fff;

	div {

		&.maintainer {
			float: left;
		}

		&.publish {
			float: right;
		}

		a {
			color: #fff
		}
	}
}
