<ul class="navigation">
	<li><div>Switch Language</div></li>
	<li><a href="{{site.baseurl}}/">English</a></li>
	<li><a href="{{site.baseurl}}/fr/">Français</a></li>
	<li><a href="{{site.baseurl}}/nl/">Nederlands</a></li>
	<li><a href="{{site.baseurl}}/tw/">Taiwan</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger">
	<svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 8 8">
		<path d="M0 0v1h8v-1h-8zm0 2.97v1h8v-1h-8zm0 3v1h8v-1h-8z" transform="translate(0,1)" />
	</svg>
</label>
